.LoginForm {
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  background-color: gray;
  width: 400px;
  padding: 25px;
  border-radius: 13px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #403e3e;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-form-logo {
  width: 120px;
}
@media screen and (max-width: 600px) {
  .login-form {
    width: 90%;
  }
}

.form-dark-bg {
  background-color: #000;
  box-shadow: rgb(255, 255, 255, 0.8) 0px 5px 15px;
  color: aliceblue;
}
