.Header {
  display: flex;
  align-items: center;
  /* background-color: rgba(172, 255, 47, 0.484); */
  width: 100%;
}
.Header_dark {
  background-color: #181818;
  color: #f9f9f9;
}

.mobile_header {
  border-bottom: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.lg_devices_header {
  display: none;
}
@media screen and (min-width: 600px) {
  .lg_devices_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;

    /* height: 7px; */
  }

  .mobile_header {
    display: none;
  }
}
.app-logo {
  width: 80px;
}
.header-btns-container {
  display: flex;
  align-items: center;
}
.profile-img {
  width: 30px;
  margin-right: 10px;
}
.user-popup {
  position: relative;
}
